.timetable {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-0);
    border-radius: 14px;
}

.week {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.dayHeaders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 426px) {
    .dayHeaders .header:not([data-daynumber="0"]) {
        border-left: 1px solid var(--color-light-0);
    }

    .dayContent .subjects:not([data-daynumber="0"]) {
        border-left: 1px solid var(--color-light-0);
    }
}

.dayHeaders .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    width: 100%;

    border-bottom: 1px solid var(--color-light-0);
}

.dayHeaders .header>span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-variation-settings: "wght" 275;
    color: white;
}

.dayHeaders .header>button {
    display: none;
}

.dayContent .subjects {
    height: 200%;
    width: 100%;
}

.dayContent {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
}

.dayContent::-webkit-scrollbar {
    display: none;
}

.dayContent .subjects {
    position: relative;
}

.eventContainer {
    position: absolute;
    width: 100%;
    padding: 0 6px;
}

.event {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.event.connectTop {
    border-radius: 0 0 6px 6px;
}

.event.connectBottom {
    border-radius: 6px 6px 0 0;
}

.event .title {
    margin: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    font-variation-settings: "wght" 350;
}

.event .under {
    margin: 0 0 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    font-variation-settings: "wght" 600;
    padding: 0 12px;
}


.superHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: #1d1d1d; */
    border-radius: 14px 14px 0 0;
    border-bottom: 1px solid var(--color-light-0);
    padding: 0.5rem;
}

.superHeader .divider {
    width: 33.33%;
    display: flex;
    align-items: center;
}

.superHeader .dividerCenter {
    display: flex;
    justify-content: center;
}

.superHeader .dividerCenter .weekNumber {
    color: white;
    font-size: 1.4rem;
    font-variation-settings: "wght" 375;
}

.superHeader .dividerRight {
    display: flex;
    justify-content: end;
}

.superHeader .dividerRight .addButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    border-radius: 10px;
    transition: all 0.2s ease;
    width: 42px;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: var(--color-dark-1);
    margin: 6px;
}

.superHeader .dividerRight .addButton:hover {
    background-color: var(--color-primary);
    color: var(--color-dark-0);
}

.superHeader .dividerRight .addButton .icon {
    width: 30px;
    height: auto;
    aspect-ratio: 1 / 1;
}


@media screen and (max-width: 425px) {
    .timetable {
        min-width: 0 !important;
        width: 100%;
    }

    .dayHeaders .header {
        justify-content: space-around;
        --iconsize: 16px;
    }

    .dayHeaders .header>button {
        display: block;
        color: var(--color-light-0);
    }

    .dayHeaders .header>.icon.arrow-left {
        float: left;
    }

    .dayHeaders .header:not(.active) {
        display: none;
        visibility: hidden;
    }

    .dayContent .subjects:not(.active) {
        display: none;
        visibility: hidden;
    }

    .superHeader {
        display: none;
    }
}