.subjectWrapper {
    width: 50%;
}

.subjectWrapper>div {

    padding-bottom: 0;
    position: relative;
}

.subjectWrapper .autocompleteWrapper {
    border-radius: 0 0 12px 12px;
    background-color: var(--color-dark-1);
    position: absolute;
    left: 1;
}

.subjectWrapper input[name='subject']:not(:focus) + .autocompleteWrapper  {
    display: none;
    visibility: hidden;
}

.subjectAutocomplete {
    background-color: transparent;
    padding: 0.65rem;
    cursor: pointer;
}

.subjectAutocomplete:hover {
    background-color: var(--color-primary);
    color: var(--color-dark-1);
}
