div.subjectWrapper {
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

.subjectWrapper>div {

    padding-bottom: 0;
    /* position: relative; */
}

.autoWrapperWrapper {
    position: relative;
    height: 0;
    width: 0;
}

.subjectWrapper .autocompleteWrapper {
    border-radius: 0 0 12px 12px;
    background-color: var(--color-dark-1);
    position: absolute;
    top: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media screen and (max-width: 700px) {
    .row {
        width: 100%;
    }
}

div.timeWrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-right: 1rem;
}

.body > div {
    width: 50%;
}

.timeWrapper label {
    font-variation-settings: "wght" 325;
}

.subjectAutocomplete {
    background-color: transparent;
    padding: 0.65rem;
    cursor: pointer;
}

.subjectAutocomplete:hover {
    background-color: var(--color-primary);
    color: var(--color-dark-1);
}


/* VALIDATION */
.row div.valid input:not(:focus), .row div.valid div[role='input'] {
    border-color: var(--color-green);
}

.row div.invalid input:not(:focus), .row div.invalid div[role='input'] {
    border-color: var(--color-red)
}